<% content_for (:html_title) {@book.title} %>

<h1><%= @book.title %></h1>
<h3>rating: <%= @book.rating %></h3>
<h3>number of reviews: <%= @book.reviews %></h3>
<h3>price: <%= @book.price %></h3>
<h3>author: <%= @book.author.name %></h3>
<h3>genre: <%= @book.genre.name %></h3>