<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
    <a class="navbar-item">
      <%= link_to "Home", root_path %>
    </a>
    <a class="navbar-item">
      <%= link_to "Information", info_index_path %>
    </a>
    <a class="navbar-item">
      <%= link_to "Books", books_path %>
    </a>
    <a class="navbar-item">
      <%= link_to "Years", years_path %>
    </a>
    <a class="navbar-item">
      <%= link_to "Authors", authors_path %>
    </a>
    <a class="navbar-item">
      <%= link_to "Genres", genres_path %>
    </a>
  </div>
</nav>